<div class="algolia-docsearch-suggestion">
    <div class="algolia-docsearch-suggestion--wrapper">
        <div class="algolia-docsearch-suggestion--content algolia-docsearch-suggestion--no-results">
            <div class="algolia-docsearch-suggestion--title">
                <div class="algolia-docsearch-suggestion--text">
                    No results found for query <b>"{{query}}"</b>
                </div>
            </div>
        </div>
    </div>
</div>