<div class="algolia-docsearch-suggestion
    {{#isCategoryHeader}}algolia-docsearch-suggestion__main{{/isCategoryHeader}}
    {{#isSubCategoryHeader}}algolia-docsearch-suggestion__secondary{{/isSubCategoryHeader}}
    suggestion-layout-simple
  ">
    <div class="algolia-docsearch-suggestion--category-header">
        {{^isLvl0}}
        <span class="algolia-docsearch-suggestion--category-header-lvl0 algolia-docsearch-suggestion--category-header-item">{{{category}}}</span>
          {{^isLvl1}}
          {{^isLvl1EmptyOrDuplicate}}
          <span class="algolia-docsearch-suggestion--category-header-lvl1 algolia-docsearch-suggestion--category-header-item">
              {{{subcategory}}}
          </span>
          {{/isLvl1EmptyOrDuplicate}}
          {{/isLvl1}}
        {{/isLvl0}}
        <div class="algolia-docsearch-suggestion--title algolia-docsearch-suggestion--category-header-item">
            {{#isLvl2}}
                {{{title}}}
            {{/isLvl2}}
            {{#isLvl1}}
                {{{subcategory}}}
            {{/isLvl1}}
            {{#isLvl0}}
                {{{category}}}
            {{/isLvl0}}
        </div>
    </div>
    <div class="algolia-docsearch-suggestion--wrapper">
      {{#text}}
      <div class="algolia-docsearch-suggestion--content">
        <div class="algolia-docsearch-suggestion--text">{{{text}}}</div>
      </div>
      {{/text}}
    </div>
</div>